/** @format */

.home {
  height: 100vh;
  background-image: url("../background-image/house.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  user-select: none;
}

.title {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

.title h1 {
  font-size: 3rem;
  background-color: var(--secondaryColor);
  padding: 0.25rem 0.75rem;
  border-radius: 0.35rem;
}

.title p {
  background-color: var(--primaryColor);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  margin: 0.25rem 0;
  color: #f3f3f3;
}

.blend {
  position: absolute;
  bottom: 0;
  height: 160px;
  width: 100%;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgb(243, 240, 240, 0.5),
    #f3f3f3
  );
}

@media screen and (max-width: 800px) {
  .title h1 {
    font-size: 32px;
  }
}
