.div {
  height: 100vh;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.6);
  color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}
