.container {
  height: 70%;
  width: 80%;
  display: flex;
  margin: auto;
}

.showcaseImage {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;
  width: 65%;
}

/* .blend {
  position: absolute;
  right: 0;
  height: 100%;
  width: 4.5rem;

  background-image: linear-gradient(90deg, transparent, transparent, #f1f1f1);
  z-index: 3;
} */

.houseDetailsContainer {
  display: flex;
  width: 35%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #ddd;
}

.houseDetails {
  height: 80%;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 2px 2px 2px #333;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  color: #fff;
  position: relative;
  padding: 1rem 1rem;
}

.houseDetails h3 {
  margin: 2.25rem 0 0rem 0;
}

.houseDetails p {
  /* color: #fff; */
  margin: 1.5rem 0 1rem 0;
  font-weight: 600;
}

.showcase address {
  color: #eee;
  margin: 0.25rem 0;
}

.badge {
  position: absolute;
  font-size: 0.75rem;
  background-color: var(--secondaryColor);
  padding: 2px 0.25rem;
  border-radius: 0.25rem;
  margin: 0.25rem 0.5rem 0 0;
  z-index: 1;
}

.houseDetails Button {
  color: #fff;
}

.buttons {
  position: absolute;
  bottom: 0;
  margin: 0.25rem 0;
  display: flex;
  width: 100%;
  padding: 0.25rem;
  justify-content: center;
}

.price {
  color: var(--secondaryColor);
}

.dismiss {
  position: absolute;
  margin-right: 1rem;
  right: 0;
  font-size: 2rem;
  color: var(--secondaryColor);
}

@media screen and (max-width: 800px) {
  .container {
    flex-direction: column;
    color: rgba(0, 0, 0, 0.8);
    height: 80%;
    border-radius: 0.25rem;
  }

  .houseDetailsContainer,
  .houseDetails {
    width: 100%;
    height: 100%;
    color: #000;
    border-radius: 0 0 0.5rem 0.5rem;
  }

  .showcaseImage {
    border-radius: 0.5rem 0.5rem 0 0;
    width: 100%;
  }

  .houseDetails {
    background-color: rgba(236, 236, 236, 0.6);
  }

  .houseDetails h3,
  .houseDetails h2,
  .houseDetails p {
    margin: 0.25rem 0;
    font-size: 1.25rem;
  }

  .houseDetails h3 {
    margin: 2rem 0 0 0;
  }

  .houseDetails p {
    color: #000;
    padding: 0;
    margin: 0.25rem 0;
  }

  .buttons {
    width: 100%;
    align-items: center;
  }

  .dismiss {
    font-size: 1rem;
    margin: 0.25rem 0.75rem 0 0;
  }

  .houseDetails Button {
    color: #000;
    border: 1px solid black;
  }
} ;
